[submodule "external/MvvmCross-Binaries"]
	path = external/MvvmCross-Binaries
	url = https://github.com/slodge/MvvmCross-Binaries.git
[submodule "external/BTProgressHUD"]
	path = external/BTProgressHUD
	url = https://github.com/gshackles/BTProgressHUD.git
[submodule "external/SlidingPanels.Touch"]
	path = external/SlidingPanels.Touch
	url = https://github.com/patbonecrusher/SlidingPanels.Touch.git
